<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Mijn eerste EJS applicatie</title>
</head>
<body>

    <nav class="primary">
        <% if(navItems) {%>
            <% navItems.forEach(item => {%>
                <a href= <%=item.url %>> <%=item.label%> </a>
            <% });%>
        <% } %>
    </nav>

    <main>
        <h1><%= title%></h1>
        
        <marquee>Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us -------- Contact Us</marquee>
        
        <p><%= message%></p>
        
        <h2><%= person.firstname + " " + person.lastname%></h2>
        <h3><%= `Location: ${person.location.city}, ${person.location.country}` %></h3>
    </main>

    <footer>
        <p>&copy; DinoCorp</p>
    </footer>


</body>
</html>